name: Redstone Pull Request

concurrency: production

on:
  pull_request:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup GitHub Runner
        run: |
          sudo apt update
          sudo apt install dos2unix

      - name: Checkout Pull Request
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Run Chmod
        run: chmod 777 .github/scripts/build.sh

      - name: Build Stable
        run: ./.github/scripts/build.sh -v --sourcemod=1.11.0-6911 --out=build
        shell: bash
